h2{
  font-size: 36px;
  font-family: ITC Korinna;

}

.main-button-container{
  margin-top: 25px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

body{
  background-color: Indianred;
  font-family: ITC Korinna;
  color: black;
}

.mainArea{
  font-family: ITC Korinna;
  font-size: 24px;
  text-align: center;
}